input,
select {
    height: 20px !important;
    padding: 10px 20px !important;
    border: 2px solid rgb(131, 130, 130) !important;
    width: 90%;
    border-radius: 10px !important;
}

.ant-form-item {
    margin-bottom: 5px !important;
}

button {
    padding: 0px 25px;
    border-radius: 2px;
    height: 40px !important;
}
.col{
    color: #dedde9;
}
.primary-contained-btn {
    background-color: var(--primary);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.primary-outlined-btn {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
}