.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.gap-5 {
    gap: 50px;
}

.p-5 {
    padding: 50px;
}

.p-4 {
    padding: 40px;
}

.p-3 {
    padding: 30px;
}

.p-2 {
    padding: 20px;
}

.p-1 {
    padding: 10px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.text-3xl{
    font-size: 1.7rem;
    line-height: 2.2rem;
}

.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-lg{
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.text-md{
    font-size: 1rem;
    line-height: 1.25rem;
}
.text-sm{
    font-size: 0.875rem;
    line-height: 1rem;
}
.text-xs{
    font-size: 0.75rem;
    line-height: 0.875rem;
}

h1{
    margin-bottom: 0px !important;
    padding-bottom: 0 !important;
}
.text-center{
    text-align: center;
}
a{
    color: var(--primary) !important;

}
a:hover{
    color: var(--primary) !important;
    text-decoration: underline !important;
}

i{
    font-size: 18px !important;
    cursor: pointer !important;
}
.underline{
    text-decoration: underline !important;
}